{% extends 'base.html' %}

{% block title %} By Catagory {% endblock %}

{% block content %}

<h1 class="heading-one">All catagories</h1>
<h2 class="heading-two">Select a Catagory</h2>

<div class="all-catagories">
    {% for catagory in catagories %}
    <a href="{% url 'blog_by_catagory' catagory.slug %}">
        <div class="catagory">
            <h2 class="heading-two">{{catagory.name}}</h2>
            <div class="description">
                <p>{{ catagory.description }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}