{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% if edit_action_for_comment %}
        <div class="comments-container">
            <h1 class="heading-one">Update Comment</h1>
            <div class="make-comment">
                    <p>Original Coment: {{ comment.text }}</p>
                <p class="user-name">By: {{ comment.user.username }}</p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.text }}
                    <button type="submit" class="comment-button">Update Comment</button>
                    <a href="{% url 'blog_detail' post_slug %}" class="cancel-button">Cancel</a>
                </form>
            </div>
        </div>
    {% else %}

    {% endif %}

{% endblock %}