
{% extends 'base.html' %}

{% load static %}

<!-- {% block extra_css %}

{% endblock %} -->


{% block content %}

<h1 class="heading-one">Welcome to Blogs website</h1>

<div class="latest-posts">
    {% for post in posts %}
    <a href="{% url 'blog_detail' post.slug %}">
        <div class="post-by-post">
        <div class="latest-post-image">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% else %}
            <img src="{% static 'images/default-post-image.png' %}" alt="Default image">
        {% endif %}
        </div>
        <div class="latest-post-description">
            <h2 class="heading-two">{{ post.title }}</h2>
            <p>{{ post.content|truncatechars:30 }}</p>
            <p class="author-name">By {{ post.author }}</p>
            <p class="created-date">{{ post.created_at|date:"F j, Y, g:i a" }}</p>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

<div class="add-post-button">
    <a href="{% url 'add_blog' %}">Add Post</a>
</div>


{% endblock %}