
{% load static %}

<nav class="navigation-bar-container">
    <div class="profile-image">
        <img src="{% static 'images/default-post-image.png' %}" alt="profile image">
        <p>USER <br> king</p>
    </div>
    <ul class="nav-bar">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="nav-dropdown"><a href="{% url 'all_posts' %}">Posts ▾</a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'posts_by_date' %}">By Date</a></li>
            <li><a href="{% url 'catagories' %}">By Catagory</a></li>
        </ul></li>
        <li><a href="">Logout</a></li>
        <li><a href="">Profile</a></li>
    </ul>
</nav>